.math-ext-right-splitscreen {
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.math-ext-pdf-viewer-container {
    transition: opacity 0.2s ease;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;

}

#math-ext-X-button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10001;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    border-style: solid;
    border-color: red;
    border-radius: 4px;
    background-color: white;
}

#math-ext-pdf-iframe {
    width: 100%;
    height: 90%;
    border: none;
    min-width: 320px !important;
    min-height: 480px !important;
    
}

.math-ext-button-menu {
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;

}

.math-ext-menu-buttons {
    align-items: center;
    text-align: center;
    flex-grow: 1;
    margin: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
}